---
layout:
---

:root {
    --content-width: 720px;

    --color-text: #606060;
    --color-red: #AF5454;
    --color-light-grey: #C0BFBF;
    --color-grey: #7A7A7A;
    --color-code-bg: #E5E5E5;
    --color-code-text: #404040;

    --font-header: 'Voltaire', sans-serif;

    /* humanist font via https://modernfontstacks.com/ */
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 16pt;
    color: var(--color-text);
}

body {
    margin: 0px;
}

body > * {
    /* when the browser window shrinks to hug the content, retain some padding. */
    padding: 0 8px;
}

p {
    margin: 28px 0;
}

/* Group lists & code closer to the paragraphs that proceed them (rather than typical paragraph spacing). */
p:has(+ ul), p:has(+ ol), p:has(+ .highlighter-rouge) { margin-bottom: 0; }
p + ul, p + ol, p + .highlighter-rouge { margin-top: 12px; }

p, li {
    line-height: 1.618rem;
}

ul li::marker {
    color: var(--color-grey);
}

p code, li code {
    font-size: 0.825rem; /* macOS' default mono font is larger than the other font. */
    padding: 1px 4px;
    background-color: var(--color-code-bg);
    color: var(--color-code-text);
}

a {
    font-weight: normal;
    text-decoration: none;
    transition: 0.2s;
}

a, a:visited {
    color: var(--color-red);
}

a:hover {
    filter: brightness(60%);
}

a:active {
    filter: brightness(130%);
}

sup, sub {
    line-height: 1; /* don't add additional line-height to include a super/subscript. */
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 32px 0 32px;
    margin-bottom: 68px;
    border-bottom: 1px solid #eee;

    background: #fafafa;

    font-family: var(--font-header);
    font-size: 32px;
    line-height: 1.3; /* TODO: it'd be better to do this with margin? */
}

@media (max-width: 410px) {
    header {
        display: block; /* good enough way to fix issues with header on mobile devices */
        margin-bottom: 0;
    }
}

header, header a, header a:visited {
    color: var(--color-light-grey);
}

header a:hover {
    color: var(--color-red);
    filter: brightness(100%); /* reset top-level rule. */
}

header a:active {
    filter: brightness(70%);
}

#header-left {
    letter-spacing: 0.08em;
}

#header-right {
    letter-spacing: 0.04em;
}

#header-spacer {
    flex-grow: 1;
    max-width: var(--content-width);
    min-width: 32px;
}

footer {
    display: flex;
    height: 100px;
    margin-top: 14px;
    align-items: center;
    justify-content: center;
}

footer > * {
    margin: 0 60px;
    font-size: 18px;
}

footer svg, footer img {
    height: 32px;
    margin: 0 8px;
}

footer img:hover {
    filter: brightness(85%);
}

.clearfix {
    clear: both; /* TODO: needed? */
}

.content {
    /* TODO: width or max-width? */
    max-width: var(--content-width);
    margin: 0 auto;
}

h1 {
    color: var(--color-red);
    font-size: 34px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 36px 0 6px 0;
}

/* TODO: would prefer to set to same as post list? */
.content li + li {
    margin-top: 8px;
}

/* TODO: is this really necessary? */
.content ul, .content ol {
    padding-left: 46px;
}

.content img {
    max-width: 100%; /* max-width in case image is smaller than content width. */
}

.content hr {
    width: 50%;
    margin: 42px auto;
    height: 1px;

    border: 0; /* To set the color, we must remove the border. */
    background-color: var(--color-light-grey);
}

/* elements after headers: must be placed after all elements to override. */
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin: 0; /* reset margins to let headers define the margins. */
}

footer img:hover {
    font-weight: normal;
    text-decoration: none;
    transition: 0.2s;
}

/* --- POST PAGE --- */
.post-date {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: var(--color-grey);
}

/* Set post date's spacing. */
.post h1 {
    margin-bottom: 6px;
}

.post-date + p {
    margin-top: 14px;
}

/* Center images in post contents. Be careful not to change the style of the Creative Commons images in the license. */
.post p > img {
    display: block;
    margin: 0 auto;
}

.signature, .license {
    margin: 16px 0 0 0;

    color: var(--color-grey);
    font-style: italic;
}

.content .creative-commons {
    margin-top: 8px; /* visually match line spacing. */
}

.book-title {
    text-decoration: underline;
}

/* --- CODE & SYNTAX HIGHLIGHTING --- */
{% include css/syntax-highlighting.css %}

pre code {
    font-size: 0.675rem; /* override too large font */
}

.highlight pre code {
    padding: 5px; /* override too large padding */
}

/* --- POST LIST PAGE --- */
.post-list ul {
    padding-left: 0;
    list-style-type: none;
}

.post-list li {
    line-height: 1.2;
    margin-bottom: 16px;
}

.post-list li > * {
    display: block;
}

/* --- ABOUT PAGE --- */
.projects li {
    margin-bottom: 24px; /* add extra margin to projects list */
}

.projects .project-title, .projects .project-title a {
    font-weight: bold;
}

.projects .project-date {
    font-weight: 300;
    color: var(--color-grey);
}

/* --- 404 PAGE --- */
.four-oh-four {
    text-align: center;
}
