body {
    margin: 0;
}

a {
    text-decoration: none;
}

#banner, a, a:visited {
    color: #D44646;
    /* #D61E1E */
}

header {
    display: flex;
    height: 90px;
    margin: 20px 0;

    background: #960909;

    align-items: center;
}

#banner {
    display: flex;
    box-sizing: border-box;
    height: 72px;
    width: 67%;
    margin: 0 auto;
    padding: 0 84px 3px 24px;

    background: white;
    border-width: 6px 8px;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 4px;
    transform: skew(-45deg); /* parallelogram */

    align-items: flex-end;
    justify-content: space-between;

    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 28px;
    line-height: 1;
}

#banner > * {
    /* TODO:
    - creates 1px opening in headshot. Maybe put in parent?
    - Perfect padding.
    - Rest of document.
    - Licenses (should I copyright my design?)
    - github, twitter, rss.
    - loading image, or missing.
    - fix border box thing.
    */
    transform: skew(45deg); /* Undo container skew. */
}

nav > span {
    margin-left: 16px;
    margin-right: 4px;
}

#banner .headshot {
    position: relative;
    height: 108px;
    top: 34px;

    border-radius: 50%;
    border: solid 2px black;

    align-self: center;
}

.post-list {
    max-width: 1000px;
    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.post-heading {
    font-size: 36px;
}

.post-name {

}

.post-time {
    color: #999999;
    font-style: italic;
}