/* TODO:
    - Rest of document.
    - Licenses (should I copyright my design?)
    - github, twitter, rss.
*/

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.banner, a, a:visited, .post-title {
    color: #D44646;
    /* #D61E1E */
}

.post-date {
    color: #888888;
    font-style: italic;
    font-weight: lighter;
}

header {
    display: flex;
    height: 122px;
    margin: 28px 0 56px 0;

    background: #960909;

    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    box-sizing: border-box;
    height: 94px; /* margins are 1/2 header margins. */
    padding: 0 0 3px 0;

    background: white;
    border-width: 8px;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 4px;

    font-family: Helvetica, sans-serif;
    font-size: 36px;
    line-height: 1;

    align-items: flex-end;
    justify-content: space-between;
}

#banner-left, #banner-right {
    position: relative;
    width: 100px;
    transform: skew(-45deg);
    border-left-width: 10px;
    border-right-width: 10px;
}

#banner-left {
    left: 50px;
}

#banner-right {
    right: 50px;
}

#banner-center {
    width: 64%;

    z-index: 1;
    border-left: 0;
    border-right: 0;
}

#banner-center > *:first-child {
    position: relative;
    left: -28px;
}

#banner-center > *:last-child {
    margin-right: 24px;
}

nav > span {
    margin-left: 22px;
    margin-right: 8px;
}

header .headshot {
    position: relative;
    height: 144px;
    top: 48px;

    border-radius: 50%;
    border: solid 3px black;

    align-self: center;
}

.post-list {
    max-width: 1000px;
    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.post-heading {
    font-size: 36px;
}

.post-name {

}

.content {
    margin: 0 auto;
    font-family: sans-serif;
}

.post {
    max-width: 1050px;
    font-size: 21px;
}

.post-title, .post-date {
    margin-bottom: 8px;
    text-align: center;
}

.post-title {
    font-size: 38px;
}
