#site {
  max-width: 935px;
}

#main_nav {
  min-height: 125px;
  border: solid #33322f 10px;
  padding: 14px;
}

#face {
  height: 125px;
  float: left;
  margin-right: 14px;
}

#content {
  margin-left: 17px;
  margin-right: 17px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inverted {
  /* TODO: Text color should be different from link color. */
  color: #fffaed;
  background-color: #7e0bd6;
}
.inverted > a:link, .inverted > a:visited {
  color: #fffaed;
}
.inverted > a:hover {
  text-decoration: underline;
}

h1 {
  /* TODO: Why is the width of the link the whole page? */
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:active {
  color: #7e0bd6;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #9c53d4;
  font-weight: bold;
  text-decoration: none;
}

body {
  color: #33322f;
  background-color: #fffaed;
  font-family: Sans-Serif;
  font-size: 12pt;
  font-weight: normal;
}
