/* TODO: Set overflow attr. */
/* TODO: Density independent units. */

#site {
  max-width: 935px;
  padding: 10px 10px 0 10px;
}

#main_nav {
  min-height: 125px;
  border: solid #33322f 10px;
  padding: 14px;
}

#face {
  height: 125px;
  float: left;
  margin-right: 14px;
}

#title {
  padding: 0;
  margin: 0;
}

#main_nav_links {
  /* TODO: Size. And get the columns working correctly. */
  height: 100px;
  width: 200px;
  float: left;
  line-height: 150%;
}
#main_nav_links ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0 0 0 27px;
  padding: 0;
  -moz-columns: 2 70px;
  -webkit-columns: 2 70px;
  -ms-columns: 2 70px;
  -o-columns: 2 70px;
  columns: 2 70px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
  column-fill: auto;
}

#content {
  margin-left: 17px;
  margin-right: 17px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inverted {
  /* TODO: Text color should be different from link color. */
  color: #fffaed;
  background-color: #7e0bd6;
}
.inverted a:link, .inverted a:visited {
  color: #fffaed;
}
.inverted a:hover {
  text-decoration: underline;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: #7e0bd6;
}
a:hover {
  color: #9c53d4;
}

body {
  color: #33322f;
  background-color: #fffaed;
  font-family: Sans-Serif;
  font-size: 12pt;
  font-weight: normal;
}
