@body_bg: #ecece7;
@shadow: #444;

@nav_bg: #f24610;
@nav_fg: #fff;
@nav_fg_secondary: #ddd;

@content_bg: #fff;
@content_fg: #222;

@nav_font_height: 16px;
@nav_title_height: 24px;
@nav_center_offset: (@nav_title_height + 8px);

@font-face {
  font-family: 'Noto Sans';
  src: url('http://fonts.googleapis.com/css?family=Noto+Sans');
}

html {
  background: @body_bg;
  font-family: 'Noto Sans', sans-serif;
}

a, a:visited {
  color: @nav_bg;
  text-decoration: none;
}
a:hover { color: darken(@nav_bg, 15%); }
a:active { color: @nav_bg; }

// TODO: Overflow?
nav {
  height: 1.2em;
  padding: 4px 16px;
  margin: 0;
  overflow: hidden;
  background: @nav_bg;
  box-shadow: 6px 3px 2px -1px @shadow;
  font-size: @nav_title_height;
  text-shadow: 1px 1px darken(@nav_bg, 5%);

  > * { display: inline-block; }
  #title, #nav-local { float: left; }
  #nav-external { float: right; }
  #title { margin-right: 20px; }
  ul {
    padding: 0;
    margin: 0;
    font-size: @nav_font_height;
    line-height: @nav_center_offset;
    list-style: none;
    li {
      display: inline;
      margin: 0 8px;
    }
    li:first-child { margin-left: 0; }
    li:last-child { margin-right: 0; }
  }

  a, a:visited { color: @nav_fg; }
  a:hover { color: @nav_fg_secondary; }
}

#content-padding { padding: 1.5em 18px 16px 18px; }
#content {
  max-width: 940px;
  padding: 8px 12px;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  clear: both;
  background: @nav_bg;
  box-shadow: 3px 3px 2px -1px @shadow;
  h1 {
    padding: 0;
    margin: 0;
    color: @nav_fg;
    text-shadow: 1px 1px darken(@nav_bg, 5%);
    font-style: italic;
  }
}

#info {
  padding: 8px 8px;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  color: @content_fg;
  background: @content_bg;
  box-shadow: inset 0px 0px 2px 0px @shadow;
  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
}
