/* TODO: Set overflow attr. */
/* TODO: Density independent units. */

#site {
  max-width: 935px;
  padding: 10px 10px 0 10px;
}

#main_nav {
  min-height: 125px;
  border: solid #444444 10px;
  padding: 14px;
}

#face {
  height: 125px;
  float: left;
  margin-right: 14px;
}

#title {
  padding: 0;
  margin: 0;
}

#content {
  margin-left: 17px;
  margin-right: 17px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inverted {
  /* TODO: Text color should be different from link color. */
  color: #fffaed;
  background-color: #9c53d4;
}
.inverted a:link, .inverted a:visited {
  color: #fffaed;
}
.inverted a:hover {
  text-decoration: underline;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: #9c53d4;
}
a:hover {
  color: #7e0bd6;
}

body {
  color: #333333;
  background-color: #fffaed;
  font-family: Sans-Serif;
  font-size: 12pt;
  font-weight: normal;
}
