@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);
html {
  background: #ecece7;
  min-width: 400px;
}
h1,
h2 {
  padding: 0;
  margin: 0;
  font-style: italic;
}
p {
  margin: 0;
}
p + p,
.highlight + p {
  text-indent: 2em;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
ul {
  margin: 0;
}
nav,
#shell {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background: rgba(64, 138, 41, 0.75);
}
nav {
  height: 1.3em;
  padding: 4px 16px;
  margin: 0;
  overflow: show;
  box-shadow: 6px 3px 2px -1px #cccccc;
  font-size: 24px;
  text-shadow: 1px 1px rgba(55, 118, 35, 0.75);
}
nav > * {
  display: inline-block;
}
nav #title,
nav #nav-local {
  float: left;
}
nav #nav-external {
  float: right;
}
nav #title {
  margin-right: 0.75em;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 35px;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 0.6em;
}
nav ul #nav-local:first-child {
  margin-left: 0;
}
nav ul #nav-external:last-child {
  margin-right: 0;
}
nav a,
nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #e6e6e6;
}
#shell-padding {
  padding: 1.5em 18px 16px 18px;
}
#shell {
  max-width: 850px;
  padding: 8px 12px;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  clear: both;
  box-shadow: 3px 3px 2px -1px #cccccc;
}
#shell h1 {
  text-shadow: 1px 1px rgba(55, 118, 35, 0.75);
}
#content {
  padding: 10px 12px;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  color: #444444;
  background: #ffffff;
  box-shadow: inset 0px 0px 4px 1px #cccccc;
  font-size: 110%;
  line-height: 1.55;
}
#content h2 {
  margin-top: 1em;
  color: rgba(64, 138, 41, 0.75);
}
#content hr {
  width: 10%;
  padding: 0;
  margin: 1em auto;
  border-color: #c3c3c3;
}
#content ul {
  list-style: none;
}
#content li:before {
  color: #444444;
  content: "\2022\00A0\00A0";
}
#content a,
#content a:visited {
  color: rgba(64, 138, 41, 0.75);
}
#content a:hover {
  color: rgba(37, 79, 23, 0.75);
}
#post-list {
  padding: 0;
}
#post-metadata #cc-license,
#post-metadata #post-list-link {
  text-align: center;
}
#post-metadata #post-nav {
  height: 1.5em;
  padding: 0 16px;
}
#post-metadata #post-nav #next-post {
  float: right;
}
#prev-post:before {
  content: "\21A9\00A0";
}
#next-post:after {
  content: "\00A0\21AA";
}
#post-date {
  font-style: italic;
  color: #919191;
}
.highlight {
  margin: 0.5em 0;
  padding: 0;
  font-size: 110%;
  line-height: 1.2em;
  overflow-x: auto;
  border-radius: 4px;
  box-shadow: 3px 3px 2px -1px #cccccc;
}
.highlight pre {
  padding: 4px 8px;
  margin: 0;
}
