@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);
html {
  background: #ecece7;
}
h1,
h2 {
  padding: 0;
  margin: 0;
  font-style: italic;
}
p {
  margin: 0;
}
p + p {
  text-indent: 2em;
}
a,
a:visited {
  text-decoration: none;
}
ul {
  margin: 0;
}
nav,
#shell {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background: rgba(64, 138, 41, 0.75);
}
nav {
  height: 1.3em;
  padding: 4px 16px;
  margin: 0;
  overflow: hidden;
  box-shadow: 6px 3px 2px -1px #cccccc;
  font-size: 24px;
  text-shadow: 1px 1px rgba(55, 118, 35, 0.75);
}
nav > * {
  display: inline-block;
}
nav #title,
nav #nav-local {
  float: left;
}
nav #nav-external {
  float: right;
}
nav #title {
  margin-right: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 35px;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 8px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a,
nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #e6e6e6;
}
nav a:active {
  color: #ffffff;
}
#shell-padding {
  padding: 1.5em 18px 16px 18px;
}
#shell {
  max-width: 750px;
  padding: 8px 12px;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  clear: both;
  box-shadow: 3px 3px 2px -1px #cccccc;
}
#shell h1 {
  text-shadow: 1px 1px rgba(55, 118, 35, 0.75);
}
#content {
  padding: 10px 12px;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  color: #444444;
  background: #ffffff;
  box-shadow: inset 0px 0px 2px 0px #cccccc;
  font-size: 110%;
  line-height: 1.55;
}
#content h2 {
  margin-top: 1em;
  color: rgba(64, 138, 41, 0.75);
}
#content a,
#content a:visited {
  color: rgba(64, 138, 41, 0.75);
}
#content a:hover {
  color: rgba(37, 79, 23, 0.75);
}
#content a:active {
  color: rgba(64, 138, 41, 0.75);
}
