@font-face {
  font-family: 'Noto Sans';
  src: url('http://fonts.googleapis.com/css?family=Noto+Sans');
}
html {
  background: #ecece7;
  font-family: 'Noto Sans', sans-serif;
}
a,
a:visited {
  text-decoration: none;
}
nav,
#shell {
  color: #ffffff;
  background: #f24610;
}
nav {
  height: 1.2em;
  padding: 4px 16px;
  margin: 0;
  overflow: hidden;
  box-shadow: 6px 3px 2px -1px #444444;
  font-size: 24px;
  text-shadow: 1px 1px #dd3e0c;
}
nav > * {
  display: inline-block;
}
nav #title,
nav #nav-local {
  float: left;
}
nav #nav-external {
  float: right;
}
nav #title {
  margin-right: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 8px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a,
nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #dddddd;
}
nav a:active {
  color: #ffffff;
}
#shell-padding {
  padding: 1.5em 18px 16px 18px;
}
#shell {
  max-width: 940px;
  padding: 8px 12px;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  clear: both;
  box-shadow: 3px 3px 2px -1px #444444;
}
#shell h1 {
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px #dd3e0c;
  font-style: italic;
}
#content {
  padding: 10px 12px;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  color: #222222;
  background: #ffffff;
  box-shadow: inset 0px 0px 2px 0px #444444;
}
#content p:first-child {
  margin-top: 0;
}
#content p:last-child {
  margin-bottom: 0;
}
#content a,
#content a:visited {
  color: #f24610;
}
#content a:hover {
  color: #ac3009;
}
#content a:active {
  color: #f24610;
}
