header {
    display: flex;
    justify-content: center;
    padding-top: 56px;
    margin-bottom: 56px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%), #F0F0F0;

    font-family: var(--font-header);
    font-size: 32px;
}

header, header a, header a:visited {
    color: var(--color-light-grey);
}

header a:hover {
    color: var(--color-red);
    filter: brightness(100%); /* reset top-level rule. */
}

header a:active {
    filter: brightness(70%);
}

#header-left {
    letter-spacing: 0.08em;
}

#header-right {
    letter-spacing: 0.04em;
}

#header-spacer {
    /* todo: max-width? */
    width: var(--content-width);
}

footer {
    display: flex;
    height: 100px;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
}

footer > * {
    margin: 0 60px;
    font-size: 18px;
}

footer svg, footer img {
    height: 32px;
    margin: 0 8px;
}

footer img:hover {
    filter: brightness(85%);
}
