<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Android, Mobile, Software, Development, Engineering, Mozilla, Firefox">
    <meta name="author" content="Michael Comella">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | mcomella.com</title>
    <link rel="icon" type="image/png" href="/im/ico/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/im/ico/favicon-128.png" sizes="128x128">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Voltaire&display=swap');
    </style>
</head>
<body>
    <header>
        <div id="header-left"><a href="/">Michael Comella</a></div>
        <div id="header-spacer"></div>
        <nav id="header-right"><a href="/">Posts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a></nav>
    </header>

    {{ content }}

    {% include footer.html %}
</body>
</html>
