<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}mcomella.me</title>

  <meta name="author" content="Michael Comella" />
  {% if page.location == 'index' %}
    <meta name="description" content="The personal page of Michael Comella (mcomella), developer and student at Brown University." />
    <meta name="keywords" content="student, developer, michael, comella, mcomella" />
  {% endif %}
  <meta name="google-site-verification" content="CirUfL-R7Ukr5vxRVvqwcDkZTAzyNhP7dXMlJnKb4NU" />

  <link rel="stylesheet" href="/res/css/normalize.css" />
  <link rel="stylesheet" href="/res/css/mcomella.css" />
</head>
<body>
  <nav>
    <span id="title"><a href="/">mcomella.me</a></span>
    <ul id="nav-local">
      {% include nav_local.ext %}
    </ul>
    <ul id="nav-external">
      {% include nav_external.ext %}
    </ul>
  </nav>

  <div id="shell-padding">
    <div id="shell">
      {{ content }}
    </div>
  </div>
</body>
</html>
