---
layout: default
---
<article>
  <p id="post-date">Posted on {{ page.date | date: "%d %B %Y" }}</p>
  {{ content }}
</article>

<hr>

<div id="post-metadata">
  <div id="cc-license">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
  </div>
  <div id="post-list-link">
    <a href="/index.html">Post Listing</a>
  </div>

  {% if page.previous.url or page.next.url %}
    <div id="post-nav">
      {% if page.previous.url %}
        <a id="prev-post" href="{{ page.previous.url }}">Previous Post</a>
      {% endif %}
      {% if page.next.url %}
        <a id="next-post" href="{{ page.next.url }}">Next Post</a>
      {% endif %}
    </div>
  {% endif %}
</div>

<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'mcomella';
  var disqus_identifier = '{{ page.date | date: "%Y-%m-%d" }}-{{ page.title }}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
